<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/map.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <canvas id="mapbox" width="650" height="650"></canvas><br />
    <!-- <img id="floor0" src="floor0og.png" style="visibility: hidden;" /> -->
    <div id="input">
      <button id="floor0btn" type="button" class="btn btn-info">FLOOR0</button
      ><button id="floor1btn" type="button" class="btn btn-info">FLOOR1</button
      ><input id="section" type="text" style="visibility: hidden;" />
      <button id="section-btn" style="visibility: hidden;">SHOW</button>
    </div>
    <script src="../static/map.js"></script>
  </body>
</html>
